.gameButtons {
	-fx-background-color: #e0e0e0;
	-fx-border-color: #b3b3b3;
	-fx-font-weight: bold;
	-fx-font-family:"Arial";
	-fx-margin:0px;
	-fx-padding:0;
}

.button-won {
	-fx-background-color: #75ff42;
}
.button-lost {
	-fx-background-color: #ff4242;
}
.inputField {
    -fx-background-color: #c2c2c2, #fff;
    -fx-pref-width:75px;
    -fx-background-insets: 0, 1 1 1 1;
    -fx-background-radius: 0;
	-fx-font-size: 10px;
	-fx-font-family: "Arial";
	-fx-text-fill: #696969;
}

.inputField:focused {
    -fx-background-color: #c2c2c2, #fdfdfd;	
}

.inputLabel {
	-fx-font-size: 10px;
	-fx-font-family: "Arial";
	-fx-font-weight: bold;
	-fx-text-fill: #696969;
	-fx-margin:0px;
	-fx-padding:5px 0px 0px 0px;
}
#startButton {
	-fx-background-color: #e0e0e0;
	-fx-border-style: none;
	-fx-background-radius: 0;
	-fx-padding: 7px 20px;
	-fx-font-family: "Arial";
	-fx-font-weight: bold;
	-fx-font-size:10px;
	-fx-text-fill: #696969;
}
.timer{
	-fx-font-family: "Arial";
	-fx-font-weight: bold;
	-fx-font-size: 20px;
	-fx-margin: 0px;
	-fx-padding: 0;
	-fx-padding: 0px 0px;
	-fx-text-fill: #3d3d3d;
}
.points{
	-fx-text-alignment: right;
	-fx-font-family: "Arial";
	-fx-font-size: 14px;
}
.difficultyHeader{
	-fx-font-size: 20px;
}

.menuContainer {
	-fx-padding: 5px 10px;
}
.number1 {
	-fx-text-fill: #4287f5;
}
.number2 {
	-fx-text-fill: #32a852;
}
.number3 {
	-fx-text-fill: #f54242;
}
.number4 {
	-fx-text-fill: #ba00b7;
}
.number5 {
	-fx-text-fill: #bf8c00;
}
.number6 {
	-fx-text-fill: #518f8f;
}
.number7 {
	-fx-text-fill: #696969;
}
.number8 {
	-fx-text-fill: #a686a6;
}
.blank{
	-fx-background-color: #cfcfcf;

}