.gameButtons {
	-fx-background-color: #e0e0e0;
	-fx-border-color: #b3b3b3;
	-fx-font-weight: bold;
	-fx-font-family:"Arial";
	-fx-margin:0px;
	-fx-padding:0;
	-fx-min-width:20px;
	-fx-min-height:20px;
}

.button-won {
	-fx-background-color: #75ff42;
}
.button-lost {
	-fx-background-color: #ff4242;
}
.inputField {
    -fx-background-color: #c2c2c2, #fff;
    -fx-pref-width:75px;
    -fx-background-insets: 0, 1 1 1 1;
    -fx-background-radius: 0;
	-fx-font-size: 11px;
	-fx-font-family: "Arial";
	-fx-text-fill: #696969;
}

.inputField:focused {
    -fx-background-color: #c2c2c2, #fdfdfd;	
}

.inputLabel {
	-fx-font-size: 11px;
	-fx-font-family: "Arial";
	-fx-font-weight: bold;
	-fx-text-fill: #696969;
	-fx-margin:0px;
	-fx-padding:5px 0px 0px 0px;
}
.menuButton {
	-fx-background-color: #e0e0e0;
	-fx-border-style: none;
	-fx-background-radius: 0;
	-fx-padding: 7px 20px;
	-fx-font-family: "Arial";
	-fx-font-weight: bold;
	-fx-font-size:11px;
	-fx-text-fill: #696969;
}

.timer{
	-fx-font-family: "Arial";
	-fx-font-weight: bold;
	-fx-font-size: 20px;
	-fx-margin: 0px;
	-fx-padding: 0;
	-fx-padding: 0px 0px;
	-fx-text-fill: #3d3d3d;
}
.points{
	-fx-text-alignment: right;
	-fx-font-family: "Arial";
	-fx-font-size: 11px;
}
.difficultyHeader{
	-fx-font-size: 20px;
}

.menuContainer {
	-fx-padding: 5px 10px;
}
.number1 {
	-fx-text-fill: #4287f5;
}
.number2 {
	-fx-text-fill: #32a852;
}
.number3 {
	-fx-text-fill: #f54242;
}
.number4 {
	-fx-text-fill: #ba00b7;
}
.number5 {
	-fx-text-fill: #bf8c00;
}
.number6 {
	-fx-text-fill: #518f8f;
}
.number7 {
	-fx-text-fill: #696969;
}
.number8 {
	-fx-text-fill: #a686a6;
}
.blank{
	-fx-background-color: #cfcfcf;
}

.track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.increment-button, .decrement-button{
	-fx-background-color: transparent;
    -fx-background-radius: 0px;
}
.scroll-bar:horizontal .increment-button, .scroll-bar:horizontal .decrement-button {
    -fx-padding: 0px 0px 10px 0px;
}
.scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button {
    -fx-padding: 0px 10px 0px 0px;
}
.increment-arrow, .decrement-arrow{
    -fx-shape: " ";    
    -fx-padding: 0px 0px;
}
.thumb {
    -fx-background-color: #9c9c9c;
}
.thumb:hover {
    -fx-background-color: #757575;
}


TableView{
   -fx-background-color: transparent;
}

TableView:focused{
    -fx-background-color: transparent;
}

TableView .column-header-background{
    -fx-background-color: #e0e0e0;
}

TableView .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: #696969;
}

TableView .column-header {
    -fx-background-color: transparent;
    -fx-border-color: #b3b3b3;
}

TableView .table-cell{
    -fx-text-fill: #696969;
}

.table-row-cell:filled:selected { 
  	-fx-background: -fx-control-inner-background;
  	-fx-background-color: -fx-table-cell-border-color, -fx-background ;
  	-fx-background-insets: 0, 0 0 1 0 ;
    -fx-table-cell-border-color: derive(-fx-color, 5%);
}
.table-row-cell:odd:filled:selected {
  	-fx-background: -fx-control-inner-background-alt ;
}



